doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
  body
    table(width="100%" style="max-width:650px; display:block; margin:auto; background-color:#f0f0f0; padding:2em;") 
        tbody(style="display:flex; flex-direction:column; justify-content:center; align-items:center;")
            tr 
                td(width='100%' style="display:flex; justify-content:center; align-items:center; background-color:#bae1ec; padding:0.8em; border-radius: 90px")
                    img(src="cid:unique@cid.ee" alt="logo Messange" style="border-radius:50%; width:160px; max-width:20%, height:auto;")
                    h1(style="font-size:3em;") Messange
            tr 
                td(width='100%')
                    h3(style="font-size:1.6em; margin-bottom:0.6em") Bonjour #{mail}
            tr 
                td(width='100%' style="font-size:1.2em")
                    p Vous avez demandé la réinitialisation de votre mot de passe.
                    | Cliquez sur le bouton ci-dessous pour enregistrer un nouveau mot de passe pour votre compte
            tr 
                td(width='100%')
                    button(style="background-color:#87ceeb; border:none; border-radius:30px; padding: 1em 0; margin-bottom:2em")
                        a(href=url target="_blank" style="padding:15px; min-width:150px; text-align:center; color:#fff; text-decoration:none;") Modifier mon mot de passe
            tr 
                td(width='100%' style="font-size:0.8em")
                    span Ce lien est valide pour une durée de 30 minutes. 
                    | Une fois ce temps écoulé, vous devrez recommencer la procédure de réinitialisation de votre mot de passe.
            tr 
                td(width='100%' style="font-size:0.8em")
                    span Si vous n'êtes pas à l'origine de cette requête, merci de simplement ignorer cet email.
                    | Votre mot de passe ne sera pas modifié et restera sécurisé.
            tr(style="width:100%;")
                td(width='100%')
                    hr(width='300px')
            tr(style="width:100%;")
                td(style="font-size:1em")
                    span Sincèrement,
                    br
                    span(style="font-weight:bold") Messange
    
        